 .u-section-1 {
  background-image: url("../../images/Banner.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 354px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  font-size: 1.25rem;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 255px;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  font-weight: 300;
  margin: 90px 16px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 780px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
    margin-bottom: 64px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 701px;
}

.u-section-3 .u-text-1 {
  background-image: none;
  margin: 38px auto 0;
}

.u-section-3 .u-accordion-1 {
  width: 963px;
  margin: 22px auto 60px;
}

.u-section-3 .u-accordion-item-1 {
  margin: 0 auto;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
}

.u-section-3 .u-accordion-item-2 {
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-text-3 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
}

.u-section-3 .u-accordion-item-3 {
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
}

.u-section-3 .u-accordion-item-4 {
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-3 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
}

.u-section-3 .u-accordion-item-5 {
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
}

.u-section-3 .u-accordion-item-6 {
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-6 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
}

.u-section-3 .u-accordion-item-7 {
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-7 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-7 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
}

.u-section-3 .u-accordion-item-8 {
  margin-top: 2px;
  margin-bottom: 0;
}

.u-section-3 .u-accordion-link-8 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-8 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-8 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-text-9 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
}

.u-section-3 .u-accordion-item-9 {
  margin-bottom: 0;
  margin-top: 2px;
}

.u-section-3 .u-accordion-link-9 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-3 .u-icon-9 {
  height: 20px;
  width: 20px;
}

.u-section-3 .u-accordion-pane-9 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-text-10 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1rem;
}

@media (max-width: 1199px) {
  .u-section-3 .u-accordion-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-accordion-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-accordion-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 629px;
}

.u-section-4 .u-text-1 {
  margin: 53px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin: 27px auto 60px 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 912px;
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 290px;
  height: 290px;
  background-image: url("../../images/Hennick_Jay_600x600.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 290px;
  height: 290px;
  background-image: url("../../images/Mayer_Christian_300x300.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  width: 290px;
  height: 290px;
  background-image: url("../../images/McLernon_Chris_300x300.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-4 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  width: 290px;
  height: 290px;
  background-image: url("../../images/FinleyBecky_300x300.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-9 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-5 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  width: 290px;
  height: 290px;
  background-image: url("../../images/Hawkins_Matt_300x300.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-11 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-6 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-image-6 {
  width: 290px;
  height: 290px;
  background-image: url("../../images/Liao_Yanlin_300x300.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-13 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 752px;
  }

  .u-section-4 .u-image-1 {
    width: 232px;
    height: 232px;
  }

  .u-section-4 .u-image-2 {
    width: 232px;
    height: 232px;
  }

  .u-section-4 .u-image-3 {
    width: 232px;
    height: 232px;
  }

  .u-section-4 .u-image-4 {
    width: 232px;
    height: 232px;
  }

  .u-section-4 .u-image-5 {
    width: 232px;
    height: 232px;
  }

  .u-section-4 .u-image-6 {
    width: 232px;
    height: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1296px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.u-block-62df-92:not([data-block-selected]):not([data-cell-selected]),
.u-block-62df-92:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-62df-92:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-62df-92:not([data-block-selected]):not([data-cell-selected]).u-block-62df-92:not([data-block-selected]):not([data-cell-selected]).u-block-62df-92:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-62df-92:not([data-block-selected]):not([data-cell-selected]).u-block-62df-92:not([data-block-selected]):not([data-cell-selected]).u-block-62df-92:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-62df-97:not([data-block-selected]):not([data-cell-selected]),
.u-block-62df-97:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-62df-97:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-62df-97:not([data-block-selected]):not([data-cell-selected]).u-block-62df-97:not([data-block-selected]):not([data-cell-selected]).u-block-62df-97:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-62df-97:not([data-block-selected]):not([data-cell-selected]).u-block-62df-97:not([data-block-selected]):not([data-cell-selected]).u-block-62df-97:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-62df-102:not([data-block-selected]):not([data-cell-selected]),
.u-block-62df-102:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-62df-102:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-62df-102:not([data-block-selected]):not([data-cell-selected]).u-block-62df-102:not([data-block-selected]):not([data-cell-selected]).u-block-62df-102:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-62df-102:not([data-block-selected]):not([data-cell-selected]).u-block-62df-102:not([data-block-selected]):not([data-cell-selected]).u-block-62df-102:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}.u-section-5 .u-sheet-1 {
  min-height: 629px;
}

.u-section-5 .u-text-1 {
  margin: 53px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin: 27px auto 60px 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 432px;
}

.u-section-5 .u-list-item-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 290px;
  height: 290px;
  background-image: url("../../images/91607b82-9521-47bd-9974-d2c9f9504880-170-170.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  }

  .u-section-5 .u-image-1 {
    width: 232px;
    height: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 629px;
}

.u-section-6 .u-text-1 {
  margin: 53px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 27px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 874px;
}

.u-section-6 .u-list-item-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-6 .u-image-1 {
  width: 232px;
  height: 232px;
  background-position: 50% 50%;
  background-image: url("../../images/56c08a6d-ce87-46c4-9c55-d0ad3050b7c4-170-170.png");
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-list-item-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-6 .u-image-2 {
  width: 232px;
  height: 232px;
  background-position: 50% 50%;
  background-image: url("../../images/5bf20c98-2407-4120-991a-ac7d6e1ea2de-170-170.png");
  margin: 0 auto;
}

.u-section-6 .u-text-4 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-6 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-list-item-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-6 .u-image-3 {
  width: 232px;
  height: 232px;
  background-position: 50% 50%;
  background-image: url("../../images/15af15b3-d4d0-453d-a6d2-259100a16633-170-170.png");
  margin: 0 auto;
}

.u-section-6 .u-text-6 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-6 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-6 .u-list-item-4 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-6 .u-image-4 {
  width: 232px;
  height: 232px;
  background-position: 50% 50%;
  background-image: url("../../images/06028a3f-981f-43cc-8eaa-ef01891e0480-170-170.png");
  margin: 0 auto;
}

.u-section-6 .u-text-8 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-6 .u-text-9 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 721px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 629px;
}

.u-section-7 .u-text-1 {
  margin: 53px auto 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 27px;
  margin-bottom: 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 874px;
}

.u-section-7 .u-list-item-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-7 .u-image-1 {
  width: 232px;
  height: 232px;
  background-position: 50% 50%;
  background-image: url("../../images/a8e50e17-52ab-4359-9761-db13ce16e128-170-170.png");
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-7 .u-image-2 {
  width: 232px;
  height: 232px;
  background-position: 50% 50%;
  background-image: url("../../images/91ba405f-2046-4d73-b929-29883119be72-170-1701.png");
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-7 .u-image-3 {
  width: 232px;
  height: 232px;
  background-position: 50% 50%;
  background-image: url("../../images/77787a1f-c383-4cf5-9744-66dc7c93f7ab-170-170.png");
  margin: 0 auto;
}

.u-section-7 .u-text-6 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-7 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-4 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-7 .u-image-4 {
  width: 232px;
  height: 232px;
  background-position: 50% 50%;
  background-image: url("../../images/4782e605-59ff-406a-b798-0baa8ff175d6-170-170.png");
  margin: 0 auto;
}

.u-section-7 .u-text-8 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-7 .u-text-9 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-5 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 10px;
}

.u-section-7 .u-image-5 {
  width: 232px;
  height: 232px;
  background-position: 50% 50%;
  background-image: url("../../images/cfc5b1bd-97ed-4290-8650-e3a207ff09e1-170-170.png");
  margin: 0 auto;
}

.u-section-7 .u-text-10 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-7 .u-text-11 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-6 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px 10px;
}

.u-section-7 .u-image-6 {
  width: 232px;
  height: 232px;
  background-position: 50% 50%;
  background-image: url("../../images/06028a3f-981f-43cc-8eaa-ef01891e0480-170-170.png");
  margin: 0 auto;
}

.u-section-7 .u-text-12 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-7 .u-text-13 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-repeater-1 {
    min-height: 721px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1243px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 629px;
}

.u-section-8 .u-text-1 {
  margin: 53px auto 0;
}

.u-section-8 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 27px;
  margin-bottom: 60px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 874px;
}

.u-section-8 .u-list-item-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-8 .u-image-1 {
  width: 232px;
  height: 232px;
  background-position: 50% 50%;
  background-image: url("../../images/f5a72e38-2668-4c73-9a9e-9ccd0d0b1f44-170-170.png");
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-2 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-8 .u-image-2 {
  width: 232px;
  height: 232px;
  background-position: 50% 50%;
  background-image: url("../../images/7e07f92f-00f2-4647-802f-48cefc5e0135-170-170.png");
  margin: 0 auto;
}

.u-section-8 .u-text-4 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-8 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-8 .u-image-3 {
  width: 232px;
  height: 232px;
  background-position: 50% 50%;
  background-image: url("../../images/8677dbc2-9e55-4192-835a-983f4b10a11b-170-170.png");
  margin: 0 auto;
}

.u-section-8 .u-text-6 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-8 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-8 .u-list-item-4 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-8 .u-image-4 {
  width: 232px;
  height: 232px;
  background-position: 50% 50%;
  background-image: url("../../images/b777fd02-5c25-40bd-a4df-b5a878e85c0c-170-170.png");
  margin: 0 auto;
}

.u-section-8 .u-text-8 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-8 .u-text-9 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 721px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

.u-block-6fc7-72:not([data-block-selected]):not([data-cell-selected]),
.u-block-6fc7-72:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6fc7-72:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-6fc7-72:not([data-block-selected]):not([data-cell-selected]).u-block-6fc7-72:not([data-block-selected]):not([data-cell-selected]).u-block-6fc7-72:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-6fc7-72:not([data-block-selected]):not([data-cell-selected]).u-block-6fc7-72:not([data-block-selected]):not([data-cell-selected]).u-block-6fc7-72:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-6fc7-77:not([data-block-selected]):not([data-cell-selected]),
.u-block-6fc7-77:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-6fc7-77:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-6fc7-77:not([data-block-selected]):not([data-cell-selected]).u-block-6fc7-77:not([data-block-selected]):not([data-cell-selected]).u-block-6fc7-77:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-6fc7-77:not([data-block-selected]):not([data-cell-selected]).u-block-6fc7-77:not([data-block-selected]):not([data-cell-selected]).u-block-6fc7-77:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}.u-section-9 .u-sheet-1 {
  min-height: 671px;
}

.u-section-9 .u-text-1 {
  margin: 55px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1rem;
  margin: 20px 43px 0;
}

.u-section-9 .u-list-1 {
  grid-template-rows: auto;
  margin: 20px 0 55px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 386px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-image-1 {
  width: 202px;
  height: 132px;
  margin: 0 auto;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-image-2 {
  width: 202px;
  height: 132px;
  margin: 0 auto;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-image-3 {
  width: 202px;
  height: 132px;
  margin: 0 auto;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px;
}

.u-section-9 .u-image-4 {
  width: 202px;
  height: 132px;
  margin: 0 auto;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px;
}

.u-section-9 .u-image-5 {
  width: 202px;
  height: 132px;
  margin: 0 auto;
}

.u-section-9 .u-container-layout-6 {
  padding: 30px;
}

.u-section-9 .u-image-6 {
  width: 202px;
  height: 132px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-9 .u-text-2 {
    width: 679px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
    min-height: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 548px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-2 {
    width: 340px;
  }

  .u-section-9 .u-image-1 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-2 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-3 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-4 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-5 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-6 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}